* { 
  padding: 0; 
  margin: 0; 
} 

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.attribution { 
  font-size: 12px; 
  text-align: center; 
  vertical-align: bottom;
  position:fixed;
  bottom: 20px;
  color:hsl(217, 19%, 35%);
  font-family: 'Manrope', sans-serif;      
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

body {
  background-color: hsl(210, 46%, 95%);
  min-height: 100vh; 

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  max-width: 800px;
  border-radius: 10px;
  margin: 25px;

  display: flex;
  overflow: hidden;
  align-self: center;
  box-shadow: 10px 10px 30px hsl(214, 17%, 90%);
}

@media only screen and (max-width: 650px) {
  .container {
    flex-direction: column;
    overflow: hidden;
  }
}

.article-image-container {
  border-radius: 10px 0 0 10px;
  width: 45%;
  overflow: hidden;
}


@media only screen and (max-width: 920px) {
  .article-image-container {
    border-radius: 0;
    height: auto;
  }
}

@media only screen and (max-width: 650px) {
  .article-image-container {
    width: 100%;
    height: 200px;
  }
}

.article-image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

@media only screen and (max-width: 650px) {
  .article-image {
    width: 100%;
  }
}

.article {
  width: 55%;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 20px 30px;

}

@media only screen and (max-width: 650px) {
  .article {
    width: auto;  
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px 30px 20px 30px;

  }
}

h2 {
  font-size: 22px;
  font-family: 'Manrope', sans-serif;      
  font-weight: 700;
  margin-bottom: 15px;
  color:hsl(217, 19%, 35%);
  letter-spacing: 0.02em;

}

@media only screen and (max-width: 650px) {
  h2 {
    font-size: 16px;
  }
}

p {
  font-size: 14px;
  font-family: 'Manrope', sans-serif;      
  font-weight: 500;
  color:hsl(217, 19%, 35%);
  letter-spacing: 0.02em;
  line-height: 1.6;
  margin-bottom: 25px;
}


@media only screen and (max-width: 650px) {
  p {
    font-size: 13px;
    margin-bottom: 40px;

  }
}

.article__user {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.user-container {
  display: flex;
}

.user-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.user__details {
  margin-left: 15px;
  flex: 1;
}

.user-name {
  font-size: 14px;
  font-family: 'Manrope', sans-serif;      
  font-weight: 700;
  color: hsl(217, 19%, 35%);
  letter-spacing: 0.02em;
  margin-bottom: 2px;
}

@media only screen and (max-width: 650px) {
  .user-name {
    font-size: 13px;
  }
}

.date {
  font-size: 13px;
  font-family: 'Manrope', sans-serif;      
  font-weight: 500;
  letter-spacing: 0.02em;
  color: hsl(212, 23%, 69%);
}

.article__share-btn {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;

  background-color: hsl(210, 46%, 95%);

  cursor: pointer;
}

.article__share-btn:hover {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;

  background-color: hsl(210, 46%, 90%);

  cursor: pointer;
}

.article__share-btn-active {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;

  background-color: hsl(214, 17%, 51%);

  cursor: pointer;
}

@media only screen and (max-width: 650px) {
  .article__share-btn-active {
    z-index: 15;
  }
}

.arrow {
  transform: translateY(-1px);
  fill: #6E8098;
}

.arrow-active {
  transform: translateY(-1px);
  fill: white;
}

.social-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 650px) {
  .social-container {
    flex-direction: row;
  }
}

.social-share {
  position: absolute;
  padding: 20px;
  border-radius: 12px;
  background-color: hsl(217, 19%, 35%);
  z-index: 10;
  transform: translate(-42%, -140%);  
  display: none;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(10px 10px 20px hsl(214, 17%, 80%));
}

.social-share::after {
  position: absolute;
  width: 0; 
  height: 0; 
  content: "";
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid hsl(217, 19%, 35%);
  transform: translate(0px, -10%);
  z-index: 11;
  top: 100%;
}

@media only screen and (max-width: 920px) {
  .social-share {
    flex-direction: column;
    padding: 15px;
  }
}

@media only screen and (max-width: 650px) {
  .social-share {
    position: absolute;
    padding: 15px 30px 15px 30px;
    border-radius: 0px;
    background-color: hsl(217, 19%, 35%);
    z-index: 10;
    width: -webkit-fill-available;
    height: 50px;
    bottom: 0;
    left: 0;
    transform: translate(0px);

    flex-direction: row;
    display: none;
    filter: none;
    justify-content: flex-start;
    align-items: center;
    animation: ease showUp .5s;
  }
}

@keyframes showUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

.share {
  font-family: 'Manrope', sans-serif;      
  font-weight: 500;  
  font-size: 14px;    
  text-transform: uppercase;
  letter-spacing: 4px;
  color: hsl(212, 23%, 69%);
  margin-right: 20px;

}

@media only screen and (max-width: 920px) {
  .share {
    margin-right: 0;
    margin-bottom: 4px;
  }
}

@media only screen and (max-width: 650px) {
  .share {
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.icons {
  transform: translateY(2px);
  z-index: 20;

}

@media only screen and (max-width: 920px) {
  .icons {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 650px) {
  .icons {
    display: flex;
    flex-direction: row;
  }
}

.icon {
  margin-right: 12px;
}

@media only screen and (max-width: 920px) {
  .icon {
    margin-right: 0px;
    margin-bottom: 6px;
  }
}

@media only screen and (max-width: 650px) {
  .icon {
    margin-right: 12px;
    margin-bottom: 0px;
  }
}

.last{
  margin: 0px;
}

/* .triangle {
  position: absolute;
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid hsl(217, 19%, 35%);
  transform: translate(0px, 35px);
} */